* {
  margin: 0;
  padding: 0;
}

body {
  background: hsla(273, 100%, 70%, 1);

  background: radial-gradient(
    circle,
    hsla(273, 100%, 70%, 1) 44%,
    hsla(229, 89%, 62%, 1) 92%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(273, 100%, 70%, 1) 44%,
    hsla(229, 89%, 62%, 1) 92%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(273, 100%, 70%, 1) 44%,
    hsla(229, 89%, 62%, 1) 92%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BB66FF", endColorstr="#4766F4", GradientType=1 );
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  color: white;
  margin: 15px;
}

.flag-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.conversion-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.459);
  width: 47vw;
  height: 60vh;
  /* min-height: 550px;
  max-height: 600px; */
  margin-top: 40px;
  border-radius: 15px;
  border: none;
}

.currency-input {
  margin: 45px;
  padding: 5px;
  height: 6vh;
  width: 30vw;
  font-size: 55px;
  border-radius: 10px;
  font-weight: lighter;
  border: none;
}

/* select:hover {
  background-color: rgba(71, 102, 244, 0.1);
  transition: background-color 500ms;
  transition-duration: 400ms;
  transform: scale(1.1);
} */

select:hover {
  background-color: rgba(71, 102, 244, 0.1);
  transition: background-color 500ms;
}

select:focus {
  background-color: rgba(71, 102, 244, 0.2);
  outline: none;
  border: 2px solid rgba(71, 102, 244, 1);
}

select {
  padding: 10px;
  border-radius: 10px;
  height: 5vh;
  width: 13vw;
  font-size: 20px;
  margin: 15px;
  border: none;
  cursor: pointer;
}

option:hover {
  background-color: rgba(71, 102, 244, 1);
  transition-duration: 500ms;
}

.swap-button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.534);
  margin: 10px 0;
  transition: all 0.3s ease;
}

.swap-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.swap-button:active {
  background-color: rgba(71, 102, 244, 1);
  transition-duration: 500ms;
}

.swap-button svg {
  width: 40px;
  height: 40px;
}

.loading {
  padding: 5px;
  margin-top: 55px;
  font-size: 40px;
  font-weight: bold;
}

.error {
  padding: 5px;
  margin-top: 55px;
  font-size: 40px;
  font-weight: bold;
}

.converted-amount {
  padding: 10px;
  margin-top: 55px;
  font-size: 40px;
  font-weight: bold;
  background: rgba(71, 103, 244, 0.76);
  border-radius: 10px;
  color: white;
}

@media screen and (max-width: 950px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .flag-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  li {
    padding: 5px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .conversion-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px, solid, black;
    background-color: rgba(255, 255, 255, 0.459);
    width: 80vw;
    height: 65vh;
    /* min-height: 600px;
    max-height: 650px; */
    margin-top: 30px;
    border-radius: 15px;
    border: none;
  }

  .currency-input {
    margin: 50px;
    padding: 5px;
    height: 6vh;
    width: 49vw;
    font-size: 55px;
    border-radius: 10px;
    font-weight: lighter;
    border: none;
  }

  select {
    padding: 10px;
    border-radius: 10px;
    height: 6.5vh;
    width: 20vw;
    font-size: 20px;
    margin: 15px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 40px;
    color: white;
    margin: 15px;
  }

  li {
    padding: 0px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .flag-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .currency-input {
    margin: 35px;
    padding: 4px;
    height: 6vh;
    width: 50vw;
    font-size: 40px;
    border-radius: 10px;
    font-weight: lighter;
    border: none;
  }

  .conversion-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px, solid, black;
    background-color: rgba(255, 255, 255, 0.459);
    width: 85vw;
    height: 70vh;
    /* max-height: 450px; */
    margin-top: 15px;
    border-radius: 15px;
    border: none;
  }

  select {
    padding: 10px;
    border-radius: 10px;
    height: 6.5vh;
    width: 26vw;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }

  .converted-amount {
    padding: 8px;
    margin-top: 45px;
    font-size: 40px;
    font-weight: bold;
    background: rgba(71, 103, 244, 0.76);
    border-radius: 10px;
    color: white;
  }
}
